# ---- OS/IDE ----
.DS_Store
Thumbs.db

# Eclipse/STS
.metadata/
.recommenders/
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# ---- Java / Maven ----
**/target/
**/*.log

# ---- Node / Next ----
**/node_modules/
**/.next/
**/out/
**/.turbo/
**/.env.local
**/.env
